<!-- Modal -->
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Titel</label>
            <input type="text" id="titleInput" class="form-control">
        </div>

        <div id="energiGroup" class="form-group">
            <label class="w-100">Energi</label>
            <div class="custom-control custom-radio custom-control-inline">
                <label class="energiSmileyLabels">
                    <input type="radio" id="vomitSmiley" name="radioSmileys" class="custom-control-input">
                    <img src="../../assets/img/vomited.svg" alt="Meget trist">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <label class="energiSmileyLabels">
                    <input type="radio" id="sadSmiley" name="radioSmileys" class="custom-control-input">
                    <img src="../../assets/img/Sad.svg" alt="Trist">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <label class="energiSmileyLabels">
                    <input type="radio" id="neutralSmiley" name="radioSmileys" class="custom-control-input">
                    <img src="../../assets/img/neutral.svg" alt="Neutral">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <label class="energiSmileyLabels">
                    <input type="radio" id="happySmiley" name="radioSmileys" class="custom-control-input">
                    <img src="../../assets/img/happy-real.svg" alt="Glad">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <label class="energiSmileyLabels">
                    <input type="radio" id="veryHappySmiley" name="radioSmileys" class="custom-control-input">
                    <img src="../../assets/img/happy.svg" alt="Meget glad">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Beskrivelse</label>
            <input type="text" id="descInput" class="form-control">
        </div>
    </form>

    <button type="button" id="saveBtn" class="btn btn-primary">Gem</button>
</div>