<!-- Modal -->
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Titel</label>
            <input type="text" class="form-control" id="titleInput">
        </div>

        <div class="form-group">
            <label class="w-100">Energi</label>
            <div class="custom-control custom-radio custom-control-inline p-0 m-0">
                <label class="energiSmileyLabels">
                    <input type="radio" id="vomitSmiley" name="radioSmileys" class="custom-control-input">
                    <!-- <img src="../../img/vomited.svg" alt="Meget trist"> -->
                    <img src="../../assets/img/vomited.svg" alt="Meget trist">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline p-0 m-0">
                <label class="energiSmileyLabels">
                    <input type="radio" id="sadSmiley" name="radioSmileys" class="custom-control-input">
                    <!-- <img src="../../img/Sad.svg" alt="Trist"> -->
                    <img src="../../assets/img/Sad.svg" alt="Trist">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline p-0 m-0">
                <label class="energiSmileyLabels">
                    <input type="radio" id="neutralSmiley" name="radioSmileys" class="custom-control-input">
                    <!-- <img src="../../img/neutral.svg" alt="Neutral"> -->
                    <img src="../../assets/img/neutral.svg" alt="Neutral">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline p-0 m-0">
                <label class="energiSmileyLabels">
                    <input type="radio" id="happySmiley" name="radioSmileys" class="custom-control-input">
                    <!-- <img src="../../img/happy-real.svg" alt="Glad"> -->
                    <img src="../../assets/img/happy-real.svg" alt="Glad">
                </label>
            </div>

            <div class="custom-control custom-radio custom-control-inline p-0 m-0">
                <label class="energiSmileyLabels">
                    <input type="radio" id="veryHappySmiley" name="radioSmileys" class="custom-control-input">
                    <!-- <img src="../../img/happy.svg" alt="Meget glad"> -->
                    <img src="../../assets/img/happy.svg" alt="Meget glad">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Beskrivelse</label>
            <input type="text" class="form-control" id="descInput">
        </div>
    </form>

    <button type="button" id="saveBtn" class="btn btn-primary px-4">Gem</button>
</div>