#notes {
    #defaultNote {
        text-align: center;
        margin-top: 10px;
    }

    article {
        font-family: sans-serif;

        .greenBorder {
            border-left: 8px solid #5cb85c;
        }
        
        .redBorder {
            border-left: 8px solid #d9534f;
        }

        #card {
            
        }

        .cardSmiley {
            height: 47px;
            width: 47px;
            min-height: 47px;
            min-width: 47px;
        }
    }
}