#notes {
    // background-color: #e4e4e4;

    #defaultNote {
        text-align: center;
    }

    article {
        font-family: sans-serif;
    }

    .greenBorder {
        border-left: 8px solid #5cb85c;
    }
    
    .redBorder {
        border-left: 8px solid #d9534f;
    }

    .cardSmiley {
        height: 47px;
        width: 47px;
    }    
}






