<div id="notes" class="container">

  <!-- No notes message -->
  <ng-template #noNotes>
    <article id="defaultNote" class="col-12">
      <p>Du har endnu ikke oprettet en aktivitet.</p>
    </article>
  </ng-template>

  <section class="row" *ngIf="notes; else noNotes">
    <!-- Notes -->
    <article class="col-12 col-md-6 col-xl-4" *ngFor="let note of notes">
      <div [ngClass]="{
        'card' : true,
        'h-100' : true,
        'bg-white' : true,
        'greenBorder' : note.energy >= 0,
        'redBorder' : note.energy < 0
      }">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">{{note.title}}</h4>
            <img class="cardSmiley" [src]="getSmileyImgPath(note.energy)">
          </div>

          <h6 class="card-subtitle">{{createDateString(note.date)}}</h6>
          <p class="card-text">{{note.desc}}</p>
        </div>
          
        <a href="#" id="edit">Rediger</a>
      </div>
    </article>
  </section>
</div>