.container {
    padding: 0;

    #topBar {
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 0;
        background-color: #1c7cd5;
        color: white;
    
        #title {
            padding: 0;
            font-size: 23px;
            line-height: 1.5;
        }
    
        #addBtn {
            padding: 0;
            max-width: 31px;
            max-height: 31px;
        }
        
        #addBtn span {
            font-size: 2rem;
            top: -8px;
        }
    
        /* --- MODAL --- */
        .energiSmileyLabels {
            height: 47px;
            width: 47px;
        }
    
        .custom-radio .custom-control-input:checked~ img {
            background-color: #7e28ff;
            border-radius: 50%;
        }
    
        #descriptionInput {
            height: 230px;
        }
    
        #saveBtn {
            background-color: #1c7cd5;
        }
    }
}


