<div class="container">
  <div id="topBar" class="row justify-content-between">
    <p id="title" class="col-10">Powerbank</p>
  
    <app-note-form></app-note-form>
    <button type="button" id="addBtn" class="col-2 btn btn-outline-light" data-toggle="modal" data-target="#Modal">
      <span class="position-relative">+</span>
    </button>
    
    <app-energy class="col-12 bg-success"></app-energy>
  
  </div>
</div>

<!-- <div id="topBar" class="col-12">
  <div class="row justify-content-between">
    <p id="title" class="col-10">Powerbank</p>
    
    <app-note-form></app-note-form>
    <button type="button" id="addBtn" class="col-2 btn btn-outline-light" data-toggle="modal" data-target="#Modal">
      <span class="position-relative">+</span>
    </button>
    
    <app-energy class="col-12 bg-success"></app-energy>

  </div>


</div> -->


<!-- ToDo
  Lav i top-bar.component.scss i stedet:
  text-white
  p-0


-->